In [2]:
# import
import gmaps.datasets
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import gmaps
import requests
# Import the API key.
from config1 import g_key
gmaps.configure(api_key=g_key)

In [4]:
vacation_data="WeatherPy_vacation.csv"
vacation_data_df=pd.read_csv(vacation_data)
vacation_data_df.head()

,City_ID,City,Max Temp,Current status,Lat,Lng,Hotel Name
0,3,atuona,80.64,broken clouds,-9.80,-139.03,Villa Enata
1,13,itoman,75.20,few clouds,26.12,127.67,Southern Beach Hotel & Resort Okinawa
2,21,biltine,75.16,clear sky,14.53,20.93,Hôtel Trois Étoiles de Biltine
3,32,kabanjahe,84.20,broken clouds,3.10,98.49,Pelindung Bawah Losmen
4,35,nyimba,83.73,clear sky,-14.56,30.81,Dali Dali Lodge