In [8]:
import pandas as pd
import gmaps
from config1 import g_key

In [9]:
#import the csv file
city_data_df=pd.read_csv('weather_Database_challenge.csv')
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current status,Rain inches(last 3 hrs),Snow inches(last 3 hrs)
0,0,puerto ayora,-0.74,-90.35,70.00,87,5,9.69,clear sky,0.0,0.0
1,1,bredasdorp,-34.53,20.04,69.80,68,99,13.87,overcast clouds,0.0,0.0
2,2,tabas,33.60,56.92,59.00,19,0,2.24,clear sky,0.0,0.0
3,3,atuona,-9.80,-139.03,80.64,67,59,9.42,broken clouds,0.0,0.0
4,4,dikson,73.51,80.55,9.37,95,66,7.81,broken clouds,0.0,0.0

In [13]:
gmaps.configure(api_key=g_key)
#inputing the minimum temperature and maximum temperature preference
min_temperature=float(input("what is you prefer lowest temperature"))
max_tempearture=float(input("what is you prefer highest temperature"))
rain_pre=input("Do you like raining and snowing(yes/no only)")

what is you prefer lowest temperature70
what is you prefer highest temperature85
Do you like raining(yes/no only)no
Do you like snowing(yes/no only)no

In [23]:
# Filter dataset to find cities that fit the temperature criteria
favorite_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_tempearture) & (city_data_df['Max Temp'] >= min_temperature)]
# Filter dataset to fit raining criteria
if (rain_pre == 'yes'):
    preferred_cities_df = favorite_cities_df.loc[(favorite_cities_df['Rain inches(last 3 hrs)'] > 0) | (favorite_cities_df['Snow inches(last 3 hrs)'] > 0)]
else:
    preferred_cities_df = favorite_cities_df.loc[(favorite_cities_df['Rain inches(last 3 hrs)'] == 0) & (favorite_cities_df['Snow inches(last 3 hrs)'] == 0)]
    
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current status,Rain inches(last 3 hrs),Snow inches(last 3 hrs)
0,0,puerto ayora,-0.74,-90.35,70.00,87,5,9.69,clear sky,0.0,0.0
3,3,atuona,-9.80,-139.03,80.64,67,59,9.42,broken clouds,0.0,0.0
9,9,laguna,16.17,-88.94,73.40,100,75,4.70,light intensity drizzle,0.0,0.0
13,13,itoman,26.12,127.67,75.20,57,20,16.11,few clouds,0.0,0.0
21,21,biltine,14.53,20.93,75.16,18,0,15.82,clear sky,0.0,0.0